.button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: var(--gap-md);
  right: var(--gap-md);

  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius-full);
  cursor: pointer;
  color: var(--color);
  background: var(--color-bg);
  border: var(--border);
}

.button:hover {
  background: var(--color-bg-hover);
}

.icon {
  width: 1.5em;
  height: 1.5rem;
}

.close {
  --color: var(--color-secondary);
  --color-bg: color-mix(
    in srgb,
    var(--color-accent-4) 80%,
    var(--color-primary)
  );
  --color-bg-hover: var(--color-accent-4);
  --border: var(--border-width-thin) solid var(--color-accent-4);
}
