.wrapper {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
}

.progressBar {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 1s ease-in-out;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
